
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: gray;
    position: relative;
    background-image: url(../Projeto/IMG/background.jpg);
}

body::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.452);
    width: 100vw;
    height: 100vh;
}

.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.828);
    border-radius: 12px;
    padding: 40px 20px;
}

h1 {
    color: white;
    font-size: 27px;
}

div.input1 input, div.input2 input {
    height: 30px;
    width: 230px;
    padding: 4px;
    margin-top: 8px;
    border-radius: 5px;
    background: rgb(73, 73, 73);
    color: white;
    outline: none;
}

.input1 ::placeholder {
    color: rgba(177, 177, 177, 0.767)
}

.input2 ::placeholder {
    color: rgba(177, 177, 177, 0.767)
}

button {
    width: 240px;
    margin-top: 8px;
    height: 33px;
    background-color: rgb(209, 2, 2);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 12px;
}

.support {
    margin-bottom: 20px;
    margin-top: 8px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.sp1 {
    margin-right: 20px;
    display: flex;
}

div.sp1 span {
    margin-left: 3px;
}

div.sp2 a {
    text-decoration: none;
    margin-left: 10px;
    color: gray;
}

.login_facebook {
    margin-right: 99.9px;
    display: flex;
}

.login_facebook a{
    margin-left: 4px;
    text-decoration: none;
    color: gray;
}

.newhere {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 40px;
    font-size: 14px;
    text-decoration: none;
    color: gray;
}

.new2 a {
    color: rgb(255, 255, 255);
}

.footer {
    width: 240px;
    display: flex;
    font-size: 9px;
}

.footer a {
    color: rgb(255, 253, 253);
}

.logo {
    position: absolute;
    margin-right: 1130px;
    margin-bottom: 570px;
}



/* RESPONSIVIDADE */

@media only screen and (max-width: 1170px) {

    .logo {
        display: none;
        visibility: hidden;
    }